a{
    color: black;
}

.name_image{
    /* background-color: #DD706E; */
    border-radius: 50%;
    height: 400px;
}

.dummycards_div{
    border: 1px solid black;
    border-radius: 40px;
    background-color: white;
    height: 290px;
    width: 600px;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: larger;
    overflow: hidden;
    background-image: url(../../Images/card_background.png);
    background-size: 580px;
    background-repeat: no-repeat;
    /* background: transparent; */
    /* background-color: #4FD938; */
    /* background-image: linear-gradient(#4FD938,green); */
    
    
}


.cards_upper_div{
    /* border: 3px solid black; */
    display: flex;
    height: 180px;
    width: 580px;
    margin: 10px
   

}
.cards_image{

    
    /* border: 1px solid green; */
    width: 40%;
    height: 180px; 
    
}

.cards_info{
    display: flex;
    align-items: center;
    justify-content: space-around;
    line-height: 25px;
    /* border: 1px solid black; */
    
}


.product_name{
    font-size: xx-large;
    font-weight: bolder;
    color: black;
    margin-bottom: 15px;
    margin-left: 5px;
}


.cards_lower_div{
    padding: 4px;
    text-align: center;
}

.cards_info{
    /* border: 3px solid black; */
    height: 180px;
    width: 330px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.image_div{
    /* border: 2px solid black; */
   
    height: 180px;
    width:250px; 
 } 

 .image_div img{
    border-radius: 2em;
    height: 180px;
    width: 250px;
 } 


.admin_option {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content:center;
    
}


.admin_option button{
    margin: 20px;
    padding: 7px;
    border: none;
    border-radius: 1em;
    background-color: green;
}

/* drop  */

.drop{
    display: flex;
    height: 300px;
    width: 800px;
    /* border: 1px solid red;*/
    background-color: rgb(11, 34, 73);
    border-radius: 1em;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    justify-content: space-around;

}

.close{
    display: none;
    
}
.close_drop_btn{
    height: 20px;
    width: 60px;
    background-color: red;
    border-radius: 1em;
    border: none;
    color: black;
}


.udpadte_inputs{
    height: 20px;
    width: 300px;
    padding: 10px;
    border-radius:1em ;
}


.update_submit{
    height: 20px;
    width: 80px;
    background-color: green;
    border-radius: 1em;
    border: none;
    color: black;
}


.update_btn_div{
    /* border: 1px solid green; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 200px;
}





.viewallHeading{
    color: #DD706E;
    border: 1px solid #DD706E;
}


@media screen and   (max-width:950px) { 
    .drop{
        width: auto;
    }


    .udpadte_inputs{
        width: auto;
    }
}
.admin_button{
    cursor: not-allowed;
}