

/* cards css */

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.dummycards_div{
    /* border: 1px solid black; */
    height: 15rem;
    width: 35%;
    border: 1px solid black;
    height: 290px;
    border-radius: 1em;
    background-color: whitesmoke;
    border:none;
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 5.5rem;
    /* justify-content: space-between; */
    flex-direction: column;
    background-color: rgb(239, 239, 238);
    border-radius: 12px;
    border: 1px solid rgb(197, 197, 196);
    position: relative;
    background-color: whitesmoke;
    border-radius: 10px;
    /* border: none; */
    justify-content: space-between;
}


.cards_upper_div{
    /* border: 3px solid black; */
    display: flex;
    height: 180px;
    width: 580px;

}
.cards_image{
    position: absolute;
    top: 0.1rem;
    left: 10px;
    border: 1px solid green;
    /* width: 40%;
    height: 8rem; */
    height: 10rem;
    /* width: auto; */
    width: 10rem;
    margin: 1rem;
}

.cards_info{
    right: 0;
    position: absolute;
    margin-right: 9rem;
}

.product_name{
    margin-top: 4px;
    margin-bottom: 0.5rem;
}

.i{
    font-size: 1.2rem;
    margin: 6px 0px;
}

.cards_lower_div{
    width: 100%;
    text-align: center;
    height: 45px;
    background: linear-gradient(90deg, #3BAF3D 0%, #5DC234 100%);
    border-radius: 0px 0px 12px 12px;


.cards_info{
    /* border: 3px solid black; */
    height: 180px;
    width: 330px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.image_div{
    /* border: 2px solid black; */
   
    height: 180px;
    width:250px; 
 } 

 .image_div img{
    border-radius: 2em;
    height: 180px;
    width: 250px;
 } 


 .cards_lower_div{
    /* border: 1px solid red; */
    margin-top:15px;
    width: 580px;
    height: 30px;
    
    
 }

  .cards_lower_div p{
    width: 100%;
    display: flex;
    background-color: green;
    align-items: center;
    justify-content: center;
  }


.admin_option {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content:center;
    
}


.admin_option button{
    margin: 20px;
}