.register{
    /* border: 2px solid black; */
    height: 100vh;
    width: 100vw;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    background-color: #9bff97;
    /* background-color: #ECEEF0; */
}

form{
    
    /* border: 1px solid #CFD8DC; */
    border-radius: 3px;
    /* box-shadow: 10px 10px 20px 15px; */
    background-color: white;
    height: 600px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 60px;
}



input{
    margin: 11px  0px;
    padding: 14px;
    width: 300px;
    border: 1px solid #CFD8DC;
    /* box-shadow: 10px 10px 20px 5px; */
    border-radius: 2px;
    padding-left:20px;
    font-size: medium;
}

input:focus{

    outline: none;
}

button{
    margin: 13px 0px;
    border: none;
    border-radius: 2px;
    /* background-image: linear-gradient(green,lightgreen); */
    /* background-color: #64747D; */
    background-color: #2c7f29;
    padding: 13px;
    width: 300px;
    font-weight: 400;
    font-size: 17px;
    color: white;
}

button:hover{
    cursor: pointer;
}

.already_user{
    height: 60px;
    display: flex;
    justify-content: center;
    /* background-color: #9bff97; */
}

.loginn{
    margin: 7px;
    height: 45px;
    width: 300px;
}


@media  screen and (max-width: 650px) {
    .register{
        width: auto;
    }
    form{
        background-color: aquamarine;
       height: 350px;
        width: 300px; 
        
    }


}