.Single_Vegetable_main_div{
    border: 1px solid black;
    height: 100%;
    width: 100%;
    padding: 40px;
    
}



.SV_div1{
     border: 1px solid black;
     height: 400px;
     width: 90%;
     display: flex;
     margin: 30px;

}

.SV_image_div{
     border: 1px solid black;
     height: 400px;
     width: 40%;


}

.image1{
     border: 1px solid green;
     height: 400px;
     width: 100%;
}


.SV_content_div{
     border: 1px solid red;
     height: 400px;
     
     width: 60%;
     display: flex;
     align-items: center;
     justify-content: center;
}

.SV1_inner_contetnt{
     border: 1px solid black;
     padding: 70px;
     text-align: center;
     align-items: center;
     border-radius: 1em;

}


.SV_div2{
     border: 1px solid black;
     height: 400px;
     width: 90%;
     margin: 30px;
    
}
.SV_image{
    border: 1px solid black;
     height: 400px;
     width: 50%;
     display: flex;
     align-items: center;
     justify-content: center;
      
}
.SV_info{
     border: 1px solid black;
     height: 400px;
     width: 50%;
     display: flex;
     flex-direction: column;
     padding: 40px;
     justify-content: space-around;
     align-items: flex-start;
      
}

.SV_alldata{
     border: 1px solid black;
     height: 400px;
     width: 100%;
     display: flex;
}


.map_div{
     border: 1px solid black;
     height: 400px;
     width: 90%;
     margin: 30px;
     display: flex;
     align-items: center;
     justify-content: center;
     padding: 10px;
}


.inner_map_div{
     border: 1px solid black;
     height: 300px;
     width: 80%;
}